:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  padding: 0.5rem 1rem;
}

label {
  font-weight: 600;
}

input,
button {
  font-size: inherit;
  padding: 0.25em 0.5em;
  border-radius: 0.25rem;
}

.row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
